/* new landing */
@font-face {
  font-family: "Rubik";
  src: url("../../lib/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  height: 100%;
  font-family: "poppins", sans-serif;
  background-color: #fff;
}

.bg-img {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(50, 248, 90, 0.378)
    ),
    url(../img/luwuk.jpg);
  height: 80%;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel-caption {
  right: auto;
  left: auto;
  text-align: left;
  width: 100%;
  bottom: 0px;
  margin-left: 20px;
}

.carousel-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.konten {
  position: fixed;
  top: 30%;
}

#konten,
.konten-box,
.konten-box > .row,
.content-box > .row > div[class="col-"] {
  background: #fff;
  height: 100%;
}

a {
  color: #0f9647;
}
a:hover {
  color: #09602d;
}

.blok-1 {
  margin-top: 50px;
}

.konten-kanan {
  /* background-image: url(img/login-bg.png); */
  position: relative;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  color: #ffffff;
  width: 50%;
}

.konten-kanan,
.konten-kiri {
  height: 100%;
  padding: 0 15px;
  float: left;
}

.konten-kanan > img,
h1 {
  display: block;
  position: relative;
  z-index: 2;
  margin: 40% auto 0;
  color: black;
}

* {
  box-sizing: border-box;
}

.box {
  padding-top: 20%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.login-box {
  padding-top: 5%;
  display: block;
  width: 440px;
  margin: 0 auto;
}

.konten-kiri {
  width: 45%;
  margin: auto;
}

.card {
  border: none;
}

.card-landing {
  border: none;
  box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
}

#footer {
  width: 100%;
  background: #242424;
  padding: 0;
}

#footer .desain {
  padding: 10px 0;
}

.foto {
  margin-top: 30px;
  width: 113px;
  height: 151px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .text-besar {
    font-size: 60px;
  }

  .center {
    justify-content: center !important;
    display: flex !important;
  }

  .nav-top {
    margin-top: 12px;
  }
}

@media (max-width: 995px) {
  .konten-kanan {
    display: none;
  }

  .konten-kiri {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    object-fit: cover;
    /* background-image: url(../../img/apps.jpg); */
  }

  .login-box {
    width: 100%;
  }

  #carouselExampleCaptions {
    display: none;
  }
}

@media (max-width: 430px) {
  .text-besar {
    margin-top: 12rem !important;
  }
}

@media (min-width: 521px) and (max-width: 999px) {
  #konten {
    min-height: 95%;
  }
}

/*-- testimonial Section CSS --*/
#testimonial {
  padding: 30px 0px 20px;
  color: #fff;
  background-color: #0f9647;
}
#testimonial h2 {
  color: #fff;
  font-size: 28px;
  text-align: center;
}
#testimonial .client-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px solid #fff;
  margin: 0px auto;
  border-radius: 100%;
  position: absolute;
  left: 0px;
}
#testimonial .carousel-content {
  padding: 20px 0px 20px 100px;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
#testimonial h3 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 30px;
  font-style: italic;
  text-align: right;
}
#testimonial p {
  font-size: 15px;
}
#testimonial .client-img img {
  width: 100%;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  font-size: 36px;
}

@media (max-width: 576px) {
  #testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
  }
  #testimonial .client-img {
    margin: 20px auto;
    position: static;
  }
  #testimonial h3,
  #testimonial p {
    text-align: center;
  }
}

.text-footer{
  font-size: 10px!important;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 0px;
}
